.pyramid {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 80vmin;
    aspect-ratio: 2.5 / 1;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vmin;
    justify-items: center;
  }
  .pyramid > * {
    background: pink;
  }
  .one {
    background-color: 
    #f25b2c;
    width: 300px;
  }
  .two {
    background-color: #fdaf40;
    width: 60%;
  }
  .three {
    background-color: #f8ed31;
    width: 80%;
  }
  .four {
    background-color: #d6df24;
    width: 100%;
  }
  .one, .two, .three, .four {
    border: 2px solid rgb(92, 49, 49); /* Adjust the color and size as needed */
  }